/*
Estilos del menu acordeon
*/

.menu {
  width: 300px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  overflow: hidden;
  /* ocultar submenús colapsados */
}

.menu header {
  padding: 10px;
  background-color: #333;
  color: white;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  border: 1px solid #30664A;
}

.menu-button,
.submenu-button {
  width: 100%;
  padding: 15px;
  background-color: #30664A;
  color: #eee;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

.menu-button:hover,
.submenu-button:hover {
  background-color: #468964;
  color: #FFB717;
}

.menu-item.active .menu-button {
  background-color: #468964;
  color: #eee;
}

.submenu,
.sub-submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

}

.menu-item.active .submenu {
  max-height: 500px;

  /* Ajustar este valor según el contenido */
}

.sub-submenu {
  padding-left: 20px;
}

.submenu li {
  padding: 10px 15px;
  background-color: white;
  color: #30664A;
  border: 1px solid #30664A;
}

a {
  text-decoration: none;
  color: #30664A;
}

a:hover {
  color: #FFB717;
}

.sub-submenu li {
  background-color: #e0e0e0;
}

.logout-button {
  width: 100%;
  padding: 15px;
  background-color: #A0E0B9;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #A0E0B9;
}



/* Estilo del contenedor de inicio de sesión */
.login-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Estilo de los elementos del formulario */
.login-container h2 {
  margin: 0 0 15px;
  font-size: 24px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-container button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.login-container button:hover {
  background-color: #2980b9;
}

/* Estilo para recuperar contraseña */
.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  color: #3498db;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}



/* Estilo del banner */
.banner {
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
}

/* Estilo del logo */
.logo {
  display: block;
  max-width: 100%;
  margin: 0 auto 20px;
}